
<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,9000&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/2f14a45fe6.js" crossorigin="anonymous"></script>
		<title>Notez</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/story.css' %}">

	</head>

	<body>
		<div id='welcome'>
					
			<div class="nav-bar">
				
				<a href="#contact">
					<nav>Contact</nav>
				</a>

				<a href="#services">
					<nav>Services</nav>
				</a>

				<a href="#welcome">
					<nav>Home</nav>
				</a>

				

				<a style="float:left" class="home-page" href="#">Notez</a>
				

			</div>

			<h1 class="title">Welcome</h1>
			<h1 class="subtitle">Write down your notes here</h1>
			<a class="btn" href='/{{ user }}/notes'>Get Started</a>
		</div>

		<div id="services">
				<div>
					<img src="/media/icons/secured.png" alt="">
					<h4>SECURED NOTES</h4>
					<p>Your notes are secured and protected</p>
				</div>

				<div>
					<img src="/media/icons/pencil.png" alt="">
					<h4>EASY TO CREATE</h4>
					<p>Create Nice and editable notes at your ease</p>
				</div>

				<div>
					<img src="/media/icons/reading-book.png" alt="">
					<h4>VIEW AT YOUR EASE</h4>
					<p>View your notes at any time anywhere</p>
				</div>

				<div>
					<img src="/media/icons/edit.png" alt="">
					<h4>RAPID EDITING</h4>
					<p>You have full ability to update your notes at any time</p>
				</div>

				<div>
					<img src="/media/icons/trash.png" alt="">
					<h4>DELETE</h4>
					<p>You have the ability to delete any notes at any time</p>
				</div>

				<div>
					<img src="/media/icons/creativity.png" alt="">
					<h4>ENCHANCE YOUR CREATIVITY</h4>
					<p>Unleash the creativity in you as you create excellent notes</p>
				</div>		

		</div>

		<div id="contact">

			<div>
			<h4>KEEP IN TOUCH</h4>
			</div>
			<div>
				<a target=_blank href="https://twitter.com/IyiolaTosin1"><i style="color:#55ACEE;padding:5px;" class="fa-brands fa-xl fa-twitter"></i></a>
				<a target=_blank href="https://www.linkedin.com/in/iyiola-tosin/"><i style="color:#007bb5;padding:5px" class="fa-brands fa-xl fa-linkedin-in"></i></a>
				<a target=_blank href="mailto:tosiniyiola00@gmail.com"><i style="padding:5px" class="fa-regular fa-xl fa-envelope"></i></a>
				<a target=_blank href="https://github.com/Tosin-dotcom"><i style="color:#171515;padding:5px" class="fa-brands fa-xl fa-github"></i></a>
			</div>
			
		</div>
		
	<body>

</html>